<div class="max-w-xl mx-auto space-y-4">

    <!-- Instagram Item -->
    <div class="p-4 flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <i class="fab fa-instagram text-4xl text-instagram"></i>
            <span class="text-lg font-medium text-gray-800">Instagram</span>
        </div>
        <div>
            <% if @profile.social_platform&.ig_followers.present? %>
                <%= human_count(@profile.social_platform.ig_followers) %> Followers
                    <% else %>
                        N/A
                        <% end %>
        </div>
        <%= link_to "Connect Instagram" , meta_connects_connect_path,
            class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-full transition duration-200"
            %>
    </div>

    <!-- Facebook Item -->
    <!-- <div class="p-4  flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <i class="fab fa-facebook-f text-4xl text-facebook"></i>
            <span class="text-lg font-medium text-gray-800">Facebook</span>
        </div>
        <button
            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-full transition duration-200">
            Connect
        </button>
    </div> -->

    <!-- X (Twitter) Item -->
    <div class=" p-4  flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <i class="fab fa-x-twitter text-4xl text-x"></i>
            <span class="text-lg font-medium text-gray-800">X (Twitter)</span>
        </div>
           <div>
            <h1 class="text-xl">
                <% if @profile.social_platform&.twitter_followers.present? %>
                    <%= human_count(@profile.social_platform.twitter_followers) %> Followers
                        <% else %>
                            N/A
                            <% end %>
            </h1>
        </div>
        <%= link_to "Connect Twiiter" , connect_twitter_connects_path,
            class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-full transition duration-200"
            %>
    </div>

    <!-- YouTube Item -->
    <div class="p-4  flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <i class="fab fa-youtube text-4xl text-youtube"></i>
            <span class="text-lg font-medium text-gray-800">YouTube</span>
        </div>
        <div>
            <h1 class="text-xl">
                <% if @profile.social_platform&.youtube_subscriber.present? %>
                    <%= human_count(@profile.social_platform.youtube_subscriber) %> subscribers
                        <% else %>
                            N/A
                            <% end %>
            </h1>
        </div>
        <%= link_to "Connect Youtube" , youtube_connects_connect_path,
            class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-full transition duration-200"
            %>
    </div>

</div>