<div class="<%= message_user_alignment(message, current_user) %>">
  <div class="inline-block px-4 py-2 rounded-2xl
    <%= message_user_style(message, current_user) %>">

    <% if message.content.present? %>
      <p class="mb-2"><%= message.content %></p>
    <% end %>

    <% if message.image.attached? %>
      <% if message.image.content_type.starts_with?("image/") %>
        <%= link_to url_for(message.image), target: "_blank" do %>
        <%= image_tag url_for(message.image), class: "rounded-lg mt-2 max-w-[300px] max-h-[300px]" %>
        <% end %>
      <% else %>
        <%= link_to message.image.filename.to_s, url_for(message.image),
              class: "underline text-blue-300 mt-2 block" %>
      <% end %>
    <% end %>
  </div>

  <div class="text-xs text-gray-400 mt-1">
    <%= time_ago_in_words(message.created_at) %> ago
  </div>
</div>
