<header
  data-controller="navbar"
  data-navbar-target="header"
  class="container mx-auto px-6 py-4 font-sans flex justify-between items-center sticky top-5 z-50 bg-transparent transition-colors duration-300">

  <!-- Logo -->
  <div class="flex items-center space-x-2 ">
    <div class="h-8 w-8 rounded-full bg-gradient-to-r from-primary via-yellow-400 to-accent-light"></div>
    <a href="/"
      class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary via-yellow-400 to-accent-light">
      INFLUENCERTRACK
    </a>
  </div>


  <!-- Desktop Navigation -->
  <nav class="hidden lg:flex items-center space-x-8 text-white font-medium capitalize font-sans" data-navbar-target="text">
    <a href="/service" class="hover:text-blue-600 <%= 'border-b-2 border-blue-600 text-blue-600' if controller_name == 'landing_pages' && action_name == 'service' %>">Service</a>
    <a href="/support" class="hover:text-blue-600 <%= 'border-b-2 border-blue-600 text-blue-600' if controller_name == 'landing_pages' && action_name == 'support' %>">Support</a>
    <a href="/aboutus" class="hover:text-blue-600 <%= 'border-b-2 border-blue-600 text-blue-600' if controller_name == 'landing_pages' && action_name == 'aboutus' %>">About Us</a>
    <a href="/policy" class="hover:text-blue-600 <%= 'border-b-2 border-blue-600 text-blue-600' if controller_name == 'landing_pages' && action_name == 'policy' %>">policy</a>
  </nav>

  <!-- Desktop Auth Buttons -->
  <% unless authenticated? %>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
      <%= link_to "Sign In", new_session_path, class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 border border-input bg-background hover:bg-yellow-500 hover:text-white-foreground" %>
      <%= link_to new_user_path do %>
        <button class="px-6 py-2 font-bold rounded-md text-lg text-white transition-transform transform hover:scale-105" style="background: linear-gradient(135deg, #9333ea, #6d28d9);">Start Free</button>
      <% end %>
    </div>
  <% else %>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
      <%= button_to "Log out",
      session_path,
      method: :delete,
      class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 border border-input bg-background hover:bg-yellow-500 hover:text-white-foreground" %>

      <% if @user&.has_role?(:business_owner) %>
        <%= button_to "Find Influencers", business_owners_path, method: :get, class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
        <%= button_to "Campaign", campaigns_path, method: :get, class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>

      <% if @user&.has_role?(:influencer) %>
        <%= button_to "Dashboard", dashboard_path, method: :get, class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>

      <% if @user&.has_role?(:admin) %>
        <%= button_to "Dashboard", admin_campaigns_path, method: :get, class: "cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>
    </div>
  <% end %>

  <!-- Mobile Hamburger -->
  <button data-action="click->navbar#toggle" class="lg:hidden p-2 cursor-pointer text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
    </svg>
  </button>


  <!-- Mobile Menu -->
  <div data-navbar-target="menu" class="hidden lg:hidden flex-col space-y-4 px-6 py-4 bg-slate-900 shadow-md absolute top-20 left-0 right-0 z-40">
      <div class="flex flex-col items-center justify-center">
        <a href="/service" class="hover:text-blue-600 text-blue-500">Service</a>
        <a href="/support" class="hover:text-blue-600 text-blue-500">Support</a>
        <a href="/aboutus" class="hover:text-blue-600 text-blue-500">About Us</a>
        <a href="/policy" class="hover:text-blue-600 text-blue-500">policy</a>
      </div>
    <% unless authenticated? %>
    <div class="flex flex-col items-center justify-center space-y-4 mt-4">
          <%= link_to "Sign In", new_session_path, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
    </div>

    <% else %>
      <%= button_to "Log out", session_path, method: :delete, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>

      <% if @user&.has_role?(:business_owner) %>
        <%= button_to "Find Influencers", business_owners_path, method: :get, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
        <%= button_to "Campaign", campaigns_path, method: :get, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>

      <% if @user&.has_role?(:influencer) %>
        <%= button_to "Dashboard", dashboard_path, method: :get, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>

      <% if @user&.has_role?(:admin) %>
        <%= button_to "Dashboard", admin_campaigns_path, method: :get, class: "w-full cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition transform hover:scale-105 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-gradient-to-r from-indigo-500 to-purple-600 text-white shadow-md hover:shadow-xl" %>
      <% end %>
    <% end %>
  </div>
</header>