<header
  data-controller="navbar"
  data-navbar-target="header"
  class="container mx-auto px-6 py-4 flex justify-between items-center sticky top-5 z-50 bg-transparent transition-colors duration-300">

    <div class="flex items-center space-x-2">
        <div class="h-8 w-8 bg-blue-500 rounded-full"></div>
        <%=link_to root_path do %>
        <span class="text-xl font-bold">INFLUENCERTRACK</span>
        <%end%>
    </div>

    <nav class="hidden lg:flex items-center space-x-8 text-gray-700 font-medium" data-navbar-target="text">
        <a href="#" class="hover:text-blue-600">Product</a>
        <a href="#" class="hover:text-blue-600">Packages</a>
        <a href="#" class="hover:text-blue-600">Blog</a>
        <a href="#" class="hover:text-blue-600">Testimonials</a>
    </nav>

    <% unless authenticated?%>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
        <%=link_to "Sign In",new_session_path ,class:"text-gray-700 hover:text-blue-600"%>
        <button class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300">Start Free</button>
    </div>
    <%else%>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
        <%= button_to "Log out", session_path, method: :delete, class:"cursor-pointer  bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" if authenticated? %>
        <% if @user.has_role?(:business_owner) %>
            <%= button_to "Find Influencers", business_owners_path,method: :get, class:"cursor-pointer bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" if authenticated? %>
            <%= button_to "Create Campaign", campaigns_path,method: :get, class:"cursor-pointer bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" if authenticated? %>
        <%end%>
        <% if @user.has_role?(:influencer) %>
            <%= button_to "Dashboard", dashboard_path,method: :get, class:"bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" if authenticated? %>
        <%end%>
    </div>
    <%end%>

    <button class="lg:hidden p-2 text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
</header>
