<header
  data-controller="navbar"
  data-navbar-target="header"
  class="container mx-auto px-6 py-4 font-sans flex justify-between items-center sticky top-5 z-50 bg-transparent transition-colors duration-300">

  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <div class="h-8 w-8 bg-blue-500 rounded-full"></div>
    <%= link_to root_path do %>
      <span class="text-xl font-bold">INFLUENCERTRACK</span>
    <% end %>
  </div>

  <!-- Desktop Navigation -->
  <nav class="hidden lg:flex items-center space-x-8 text-gray-700 font-medium capitalize font-sans" data-navbar-target="text">
    <a href="/service" class="hover:text-blue-600">Service</a>
    <a href="/support" class="hover:text-blue-600">Support</a>
    <a href="/aboutus" class="hover:text-blue-600">About Us</a>
    <a href="/policy" class="hover:text-blue-600">policy</a>
  </nav>

  <!-- Desktop Auth Buttons -->
  <% unless authenticated? %>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
      <%= link_to "Sign In", new_session_path, class: "text-gray-700 hover:text-blue-600" %>
      <%= link_to new_user_path do %>
        <button class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300">Start Free</button>
      <% end %>
    </div>
  <% else %>
    <div class="hidden lg:flex items-center space-x-4 font-medium">
      <%= button_to "Log out", session_path, method: :delete, class: "cursor-pointer bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>

      <% if @user.has_role?(:business_owner) %>
        <%= button_to "Find Influencers", business_owners_path, method: :get, class: "cursor-pointer bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
        <%= button_to "Campaign", campaigns_path, method: :get, class: "cursor-pointer bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
      <% end %>

      <% if @user.has_role?(:influencer) %>
        <%= button_to "Dashboard", dashboard_path, method: :get, class: "bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
      <% end %>
    </div>
  <% end %>

  <!-- Mobile Hamburger -->
  <button data-action="click->navbar#toggle" class="lg:hidden p-2 cursor-pointer text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
    </svg>
  </button>


<!-- Mobile Menu -->
<div data-navbar-target="menu" class="hidden lg:hidden flex-col space-y-4 px-6 py-4 bg-white shadow-md absolute top-20 left-0 right-0 z-40">
    <div class="flex flex-col items-center justify-center">
      <a href="/service" class="hover:text-blue-600 text-blue-500">Service</a>
      <a href="/support" class="hover:text-blue-600 text-blue-500">Support</a>
      <a href="/aboutus" class="hover:text-blue-600 text-blue-500">About Us</a>
      <a href="/policy" class="hover:text-blue-600 text-blue-500">policy</a>
    </div>
  <% unless authenticated? %>
  <div class="flex flex-col items-center justify-center space-y-4 mt-4">
        <%= link_to "Sign In", new_session_path, class: "w-full bg-blue-600 text-center text-white px-6 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
  </div>

  <% else %>
    <%= button_to "Log out", session_path, method: :delete, class: "w-full bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>

    <% if @user.has_role?(:business_owner) %>
      <%= button_to "Find Influencers", business_owners_path, method: :get, class: "w-full bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
      <%= button_to "Campaign", campaigns_path, method: :get, class: "w-full bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
    <% end %>

    <% if @user.has_role?(:influencer) %>
      <%= button_to "Dashboard", dashboard_path, method: :get, class: "w-full bg-blue-600 text-white px-3 py-2 rounded-full hover:bg-blue-700 transition-colors duration-300" %>
    <% end %>
  <% end %>
</div>
</header>